{
  "presets": ["react", "stage-2", [
    "env", {
      "builtIns": false,
      "modules": "umd",
      "targets": {
        "browsers": [
          "last 2 chrome versions",
          "last 2 firefox versions",
          "last 2 safari versions",
          "last 2 edge versions"
        ]
      }
    }]
  ],
  "env": {
    "production": {
      "presets": [
        ["minify",
          {
            "mangle": false,
            "evaluate": false
          }
        ]
      ]
    }
  }
}
